@import url(https://fonts.googleapis.com/css?family=VT323:400&display=swap);





body {
  font-family: IBM Plex Sans;
}
.display-1 {
  font-family: 'VT323', monospace;
  font-size: 3.8rem;
}
.display-1 > .mbr-iconfont {
  font-size: 6.08rem;
}
.display-2 {
  font-family: 'VT323', monospace;
  font-size: 5rem;
}
.display-2 > .mbr-iconfont {
  font-size: 8rem;
}
.display-4 {
  font-family: 'VT323', monospace;
  font-size: 1rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
  font-weight: 400;
}
.display-5 {
  font-family: 'VT323', monospace;
  font-size: 1.5rem;
}
.display-5 > .mbr-iconfont {
  font-size: 2.4rem;
}
.display-7 {
  font-family: 'VT323', monospace;
  font-size: 1.2rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.92rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.04rem;
    font-size: calc( 1.98rem + (3.8 - 1.98) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.98rem + (3.8 - 1.98) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 4rem;
    font-size: calc( 2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #ff8a73 !important;
}
.bg-success {
  background-color: #232323 !important;
}
.bg-info {
  background-color: #ffc500 !important;
}
.bg-warning {
  background-color: #879a9f !important;
}
.bg-danger {
  background-color: #232323 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #ff8a73 !important;
  border-color: #ff8a73 !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #ff4a26 !important;
  border-color: #ff4a26 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #ff4a26 !important;
  border-color: #ff4a26 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff8a73 !important;
  border-color: #ff8a73 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #ff4a26 !important;
  border-color: #ff4a26 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ff4a26 !important;
  border-color: #ff4a26 !important;
}
.btn-info,
.btn-info:active {
  background-color: #ffc500 !important;
  border-color: #ffc500 !important;
  color: #000000 !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #000000 !important;
  background-color: #b38a00 !important;
  border-color: #b38a00 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #000000 !important;
  background-color: #b38a00 !important;
  border-color: #b38a00 !important;
}
.btn-success,
.btn-success:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #879a9f !important;
  border-color: #879a9f !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #ff350d;
  color: #ff350d;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #ff8a73;
  border-color: #ff8a73;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff8a73 !important;
  border-color: #ff8a73 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #ff350d;
  color: #ff350d;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #ff8a73;
  border-color: #ff8a73;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff8a73 !important;
  border-color: #ff8a73 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #997600;
  color: #997600;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #000000;
  background-color: #ffc500;
  border-color: #ffc500;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #000000 !important;
  background-color: #ffc500 !important;
  border-color: #ffc500 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #232323;
  border-color: #232323;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #55666b;
  color: #55666b;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #879a9f;
  border-color: #879a9f;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #879a9f !important;
  border-color: #879a9f !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #232323;
  border-color: #232323;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #ff8a73 !important;
}
.text-secondary {
  color: #ff8a73 !important;
}
.text-success {
  color: #232323 !important;
}
.text-info {
  color: #ffc500 !important;
}
.text-warning {
  color: #879a9f !important;
}
.text-danger {
  color: #232323 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #ff350d !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #ff350d !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #000000 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #997600 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #55666b !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #000000 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #ffc500;
}
.alert-warning {
  background-color: #879a9f;
}
.alert-danger {
  background-color: #232323;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #ff8a73;
  border-color: #ff8a73;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #ff8a73;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d5d5d5;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #fff3cc;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ced6d8;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #d5d5d5;
}
/* Scroll to top button*/
#scrollToTop a {
  border-radius: 100px;
}
.form-control {
  font-family: 'VT323', monospace;
  font-size: 1rem;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
  font-weight: 400;
}
blockquote {
  border-color: #ff8a73;
}
.btn-primary {
  margin: 1rem 0.5rem !important;
}
.btn-primary:hover,
.btn-primary:focus {
  box-shadow: 0 6px 16px 0 #ff8a73 !important;
  -webkit-box-shadow: 0 6px 16px 0 #ff8a73 !important;
  background-color: #ff8a73 !important;
  border-color: #ff8a73 !important;
}
.btn-secondary {
  margin: 1rem 0.5rem !important;
}
.btn-secondary:hover,
.btn-secondary:focus {
  box-shadow: 0 6px 15px 0 #ff8a73 !important;
  -webkit-box-shadow: 0 6px 16px 0 #ff8a73 !important;
  background-color: #ff8a73 !important;
  border-color: #ff8a73 !important;
}
.btn-success {
  color: white !important;
  margin: 1rem 0.5rem !important;
}
.btn-success:active {
  color: white !important;
}
.btn-success:hover,
.btn-success:focus {
  color: white !important;
  box-shadow: 0 6px 15px 0 #232323 !important;
  -webkit-box-shadow: 0 6px 16px 0 #232323 !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #ff8a73;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-number__spin {
  background-color: #f5f6ff;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #ff8a73;
  border-bottom-color: #ff8a73;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #ff8a73 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ff8a73 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23ff8a73' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
.cid-rLpsgXbTep .dropdown-item:before {
  content: '';
  position: absolute;
  left: 16px;
  top: 52%;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  opacity: 0;
  background-color: #5580ff;
  transform: translateY(-50%);
  transition: all 0.3s;
}
.cid-rLpsgXbTep .dropdown-item:hover:before {
  opacity: 1!important;
}
.cid-rLpsgXbTep .nav-item:focus,
.cid-rLpsgXbTep .nav-link:focus {
  outline: none;
}
.cid-rLpsgXbTep .text-white:hover,
.cid-rLpsgXbTep .text-white:active,
.cid-rLpsgXbTep .text-white:focus {
  color: white!important;
}
.cid-rLpsgXbTep .navbar {
  max-width: 1000px;
  margin: auto;
  margin-top: -10px;
  opacity: 0.9;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  min-height: 77px;
  transition: all .3s;
  background: #ffffff;
}
.cid-rLpsgXbTep .navbar:hover {
  opacity: 1;
  margin-top: 0;
}
.cid-rLpsgXbTep .navbar.opened {
  transition: all .3s;
  background: #ffffff !important;
}
.cid-rLpsgXbTep .navbar .dropdown-item {
  padding: .235rem 1.5rem;
}
.cid-rLpsgXbTep .navbar .navbar-collapse {
  justify-content: center;
  z-index: 1;
}
.cid-rLpsgXbTep .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-rLpsgXbTep .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-rLpsgXbTep .navbar.collapsed .dropdown-menu {
  background: transparent !important;
}
.cid-rLpsgXbTep .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-rLpsgXbTep .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-rLpsgXbTep .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: .25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-rLpsgXbTep .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-rLpsgXbTep .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-rLpsgXbTep .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-rLpsgXbTep .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-rLpsgXbTep .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-rLpsgXbTep .navbar .dropdown-menu {
    background: transparent !important;
  }
  .cid-rLpsgXbTep .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-rLpsgXbTep .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-rLpsgXbTep .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: .25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-rLpsgXbTep .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-rLpsgXbTep .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-rLpsgXbTep .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
  }
  .cid-rLpsgXbTep .navbar .navbar-brand {
    -webkit-flex-shrink: initial;
    flex-shrink: initial;
    -webkit-flex-basis: auto;
    flex-basis: auto;
    word-break: break-word;
  }
  .cid-rLpsgXbTep .navbar .navbar-toggler {
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
  .cid-rLpsgXbTep .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-rLpsgXbTep .navbar.navbar-short {
  background: #ffffff !important;
  min-height: 60px;
}
.cid-rLpsgXbTep .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-rLpsgXbTep .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-rLpsgXbTep .section {
  position: relative;
  overflow: visible!important;
}
.cid-rLpsgXbTep .dropdown-item {
  font-weight: 400!important;
  color: black!important;
}
.cid-rLpsgXbTep .dropdown-item:hover {
  color: black!important;
}
.cid-rLpsgXbTep .dropdown-menu {
  background-color: white!important;
}
.cid-rLpsgXbTep .navbar .dropdown.open > .dropdown-menu {
  border-radius: 10px;
  box-shadow: 0 10px 55px 5px rgba(137, 173, 255, 0.35);
  display: block;
}
.cid-rLpsgXbTep .nav-link:before {
  content: '';
  position: absolute;
  left: 10px;
  top: 52%;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  opacity: 0;
  background-color: #5580ff;
  transform: translateY(-50%);
  transition: all 0.3s;
}
.cid-rLpsgXbTep .nav-item:hover .nav-link:before {
  opacity: 1!important;
}
@media (min-width: 992px) {
  .cid-rLpsgXbTep .nav-item .nav-link {
    position: relative;
  }
}
.cid-rLpsgXbTep .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rLpsgXbTep .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-rLpsgXbTep .dropdown .dropdown-menu .dropdown-item:hover {
  padding-left: 2rem;
}
.cid-rLpsgXbTep .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-rLpsgXbTep .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rLpsgXbTep .collapsed {
  flex-direction: row!important;
}
.cid-rLpsgXbTep .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-rLpsgXbTep .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-rLpsgXbTep .navbar-caption {
  font-weight: 600!important;
}
.cid-rLpsgXbTep .navbar-brand {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-rLpsgXbTep .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-rLpsgXbTep .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-rLpsgXbTep .dropdown-item.active,
.cid-rLpsgXbTep .dropdown-item:active {
  background-color: transparent;
}
.cid-rLpsgXbTep .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-rLpsgXbTep .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-rLpsgXbTep .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-rLpsgXbTep .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-rLpsgXbTep .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-rLpsgXbTep ul.navbar-nav {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-rLpsgXbTep .navbar-buttons {
  text-align: center;
}
.cid-rLpsgXbTep button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  -webkit-align-self: center;
  align-self: center;
}
.cid-rLpsgXbTep button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffc500;
}
.cid-rLpsgXbTep button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-rLpsgXbTep button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-rLpsgXbTep button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-rLpsgXbTep button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-rLpsgXbTep nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rLpsgXbTep nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-rLpsgXbTep nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-rLpsgXbTep nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rLpsgXbTep .navbar-dropdown {
  position: absolute;
  top: 0;
  left: 0;
  padding: .5rem 1rem;
  position: fixed;
}
.cid-rLpsgXbTep .nav-link {
  font-weight: 600!important;
}
.cid-rLpsgXbTep a.nav-link {
  -webkit-justify-content: center;
  justify-content: center;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rLpsgXbTep .mbr-iconfont {
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-rLpsgXbTep .icons-menu {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  padding-left: 1rem;
  text-align: center;
}
.cid-rLpsgXbTep .icons-menu span {
  font-size: 26px;
  color: #232323;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-rLpsgXbTep .navbar {
    height: 77px;
  }
  .cid-rLpsgXbTep .navbar.opened {
    height: auto;
  }
  .cid-rLpsgXbTep .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-rLpTZ4ZJL0 {
  background-image: url("../../../assets/images/photo-20160315-8003901-2000x1630.png");
}
.cid-rLpTZ4ZJL0 .mbr-text,
.cid-rLpTZ4ZJL0 .typed-text,
.cid-rLpTZ4ZJL0 .mbr-section-text {
  letter-spacing: 0.03rem;
}
.cid-rLpTZ4ZJL0 .btn {
  margin-left: 4px !important;
}
.cid-rLpTZ4ZJL0 .animated-element {
  color: #ffbc00;
}
.cid-rLpTZ4ZJL0 .typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
  color: #ffbc00;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.cid-rLpU2VwTR5 {
  padding-top: 75px;
  padding-bottom: 60px;
  background-color: #ffffff;
  background: linear-gradient(#ffffff, #ffffff);
}
.cid-rLpU2VwTR5 .carousel-control {
  background: #000;
}
.cid-rLpU2VwTR5 .mbr-section-subtitle {
  color: #ffc900;
  text-align: right;
}
.cid-rLpU2VwTR5 .carousel-item {
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rLpU2VwTR5 .carousel-item .media-container-row {
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.cid-rLpU2VwTR5 .carousel-item .wrap-img {
  text-align: center;
}
.cid-rLpU2VwTR5 .carousel-item .wrap-img img {
  max-height: 150px;
  width: auto;
  max-width: 100%;
}
.cid-rLpU2VwTR5 .carousel-controls {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rLpU2VwTR5 .carousel-controls .carousel-control {
  background: #000;
  border-radius: 50%;
  position: static;
  width: 40px;
  height: 40px;
  margin-top: 2rem;
  border-width: 1px;
}
.cid-rLpU2VwTR5 .carousel-controls .carousel-control.carousel-control-prev {
  left: auto;
  margin-right: 20px;
  margin-left: 0;
}
.cid-rLpU2VwTR5 .carousel-controls .carousel-control.carousel-control-next {
  right: auto;
  margin-right: 0;
}
.cid-rLpU2VwTR5 .carousel-controls .carousel-control .mbr-iconfont {
  font-size: 1rem;
}
.cid-rLpU2VwTR5 .cloneditem-1,
.cid-rLpU2VwTR5 .cloneditem-2,
.cid-rLpU2VwTR5 .cloneditem-3,
.cid-rLpU2VwTR5 .cloneditem-4,
.cid-rLpU2VwTR5 .cloneditem-5 {
  display: none;
}
.cid-rLpU2VwTR5 .col-lg-15 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  -webkit-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
}
@media (min-width: 992px) {
  .cid-rLpU2VwTR5 .col-lg-15 {
    -ms-flex: 0 0 20%;
    -webkit-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    width: 20%;
  }
  .cid-rLpU2VwTR5 .carousel-inner.slides2 > .carousel-item.active.carousel-item-right,
  .cid-rLpU2VwTR5 .carousel-inner.slides2 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
  }
  .cid-rLpU2VwTR5 .carousel-inner.slides2 > .carousel-item.active.carousel-item-left,
  .cid-rLpU2VwTR5 .carousel-inner.slides2 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
  .cid-rLpU2VwTR5 .carousel-inner.slides2 > .carousel-item.carousel-item-left,
  .cid-rLpU2VwTR5 .carousel-inner.slides2 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-rLpU2VwTR5 .carousel-inner.slides2 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-rLpU2VwTR5 .carousel-inner.slides2 .cloneditem-1,
  .cid-rLpU2VwTR5 .carousel-inner.slides2 .cloneditem-2,
  .cid-rLpU2VwTR5 .carousel-inner.slides2 .cloneditem-3 {
    display: block;
  }
  .cid-rLpU2VwTR5 .carousel-inner.slides3 > .carousel-item.active.carousel-item-right,
  .cid-rLpU2VwTR5 .carousel-inner.slides3 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(33.333333%, 0, 0);
    transform: translate3d(33.333333%, 0, 0);
  }
  .cid-rLpU2VwTR5 .carousel-inner.slides3 > .carousel-item.active.carousel-item-left,
  .cid-rLpU2VwTR5 .carousel-inner.slides3 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-33.333333%, 0, 0);
    transform: translate3d(-33.333333%, 0, 0);
  }
  .cid-rLpU2VwTR5 .carousel-inner.slides3 > .carousel-item.carousel-item-left,
  .cid-rLpU2VwTR5 .carousel-inner.slides3 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-rLpU2VwTR5 .carousel-inner.slides3 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-rLpU2VwTR5 .carousel-inner.slides3 .cloneditem-1,
  .cid-rLpU2VwTR5 .carousel-inner.slides3 .cloneditem-2,
  .cid-rLpU2VwTR5 .carousel-inner.slides3 .cloneditem-3 {
    display: block;
  }
  .cid-rLpU2VwTR5 .carousel-inner.slides4 > .carousel-item.active.carousel-item-right,
  .cid-rLpU2VwTR5 .carousel-inner.slides4 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(25%, 0, 0);
    transform: translate3d(25%, 0, 0);
  }
  .cid-rLpU2VwTR5 .carousel-inner.slides4 > .carousel-item.active.carousel-item-left,
  .cid-rLpU2VwTR5 .carousel-inner.slides4 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-25%, 0, 0);
    transform: translate3d(-25%, 0, 0);
  }
  .cid-rLpU2VwTR5 .carousel-inner.slides4 > .carousel-item.carousel-item-left,
  .cid-rLpU2VwTR5 .carousel-inner.slides4 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-rLpU2VwTR5 .carousel-inner.slides4 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-rLpU2VwTR5 .carousel-inner.slides4 .cloneditem-1,
  .cid-rLpU2VwTR5 .carousel-inner.slides4 .cloneditem-2,
  .cid-rLpU2VwTR5 .carousel-inner.slides4 .cloneditem-3 {
    display: block;
  }
  .cid-rLpU2VwTR5 .carousel-inner.slides5 > .carousel-item.active.carousel-item-right,
  .cid-rLpU2VwTR5 .carousel-inner.slides5 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(20%, 0, 0);
    transform: translate3d(20%, 0, 0);
  }
  .cid-rLpU2VwTR5 .carousel-inner.slides5 > .carousel-item.active.carousel-item-left,
  .cid-rLpU2VwTR5 .carousel-inner.slides5 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0);
  }
  .cid-rLpU2VwTR5 .carousel-inner.slides5 > .carousel-item.carousel-item-left,
  .cid-rLpU2VwTR5 .carousel-inner.slides5 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-rLpU2VwTR5 .carousel-inner.slides5 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-rLpU2VwTR5 .carousel-inner.slides5 .cloneditem-1,
  .cid-rLpU2VwTR5 .carousel-inner.slides5 .cloneditem-2,
  .cid-rLpU2VwTR5 .carousel-inner.slides5 .cloneditem-3,
  .cid-rLpU2VwTR5 .carousel-inner.slides5 .cloneditem-4 {
    display: block;
  }
  .cid-rLpU2VwTR5 .carousel-inner.slides6 > .carousel-item.active.carousel-item-right,
  .cid-rLpU2VwTR5 .carousel-inner.slides6 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(16.666667%, 0, 0);
    transform: translate3d(16.666667%, 0, 0);
  }
  .cid-rLpU2VwTR5 .carousel-inner.slides6 > .carousel-item.active.carousel-item-left,
  .cid-rLpU2VwTR5 .carousel-inner.slides6 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-16.666667%, 0, 0);
    transform: translate3d(-16.666667%, 0, 0);
  }
  .cid-rLpU2VwTR5 .carousel-inner.slides6 > .carousel-item.carousel-item-left,
  .cid-rLpU2VwTR5 .carousel-inner.slides6 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-rLpU2VwTR5 .carousel-inner.slides6 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-rLpU2VwTR5 .carousel-inner.slides6 .cloneditem-1,
  .cid-rLpU2VwTR5 .carousel-inner.slides6 .cloneditem-2,
  .cid-rLpU2VwTR5 .carousel-inner.slides6 .cloneditem-3,
  .cid-rLpU2VwTR5 .carousel-inner.slides6 .cloneditem-4,
  .cid-rLpU2VwTR5 .carousel-inner.slides6 .cloneditem-5 {
    display: block;
  }
}
.cid-rLpUcyva27 .modal-body .close {
  background: #1b1b1b;
}
.cid-rLpUcyva27 .modal-body .close span {
  font-style: normal;
}
.cid-rLpUcyva27 .carousel-inner > .active,
.cid-rLpUcyva27 .carousel-inner > .next,
.cid-rLpUcyva27 .carousel-inner > .prev {
  display: table;
}
.cid-rLpUcyva27 .carousel-control .icon-next,
.cid-rLpUcyva27 .carousel-control .icon-prev {
  margin-top: -18px;
  font-size: 40px;
  line-height: 27px;
}
.cid-rLpUcyva27 .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-rLpUcyva27 .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-rLpUcyva27 .boxed-slider {
  position: relative;
  padding: 93px 0;
}
.cid-rLpUcyva27 .boxed-slider > div {
  position: relative;
}
.cid-rLpUcyva27 .container img {
  width: 100%;
}
.cid-rLpUcyva27 .container img + .row {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2;
}
.cid-rLpUcyva27 .mbr-section {
  padding: 0;
  background-attachment: scroll;
}
.cid-rLpUcyva27 .mbr-table-cell {
  padding: 0;
}
.cid-rLpUcyva27 .container .carousel-indicators {
  margin-bottom: 3px;
}
.cid-rLpUcyva27 .carousel-caption {
  top: 50%;
  right: 0;
  bottom: auto;
  left: 0;
  display: -webkit-flex;
  align-items: center;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-align-items: center;
}
.cid-rLpUcyva27 .mbr-overlay {
  z-index: 1;
}
.cid-rLpUcyva27 .container-slide.container {
  min-width: 100%;
  min-height: 100vh;
  padding: 0;
}
.cid-rLpUcyva27 .carousel-item {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  -o-transition: -o-transform 0.6s ease-in-out;
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out, -o-transform 0.6s ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}
@media (max-width: 576px) {
  .cid-rLpUcyva27 .carousel-item .container {
    width: 100%;
  }
}
.cid-rLpUcyva27 .carousel-item-next.carousel-item-left,
.cid-rLpUcyva27 .carousel-item-prev.carousel-item-right {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.cid-rLpUcyva27 .active.carousel-item-right,
.cid-rLpUcyva27 .carousel-item-next {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.cid-rLpUcyva27 .active.carousel-item-left,
.cid-rLpUcyva27 .carousel-item-prev {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.cid-rLpUcyva27 .mbr-slider .carousel-control {
  top: 50%;
  width: 70px;
  height: 70px;
  margin-top: -1.5rem;
  font-size: 35px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all .3s;
}
.cid-rLpUcyva27 .mbr-slider .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-rLpUcyva27 .mbr-slider .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
.cid-rLpUcyva27 .mbr-slider .carousel-control .mbr-iconfont {
  font-size: 2rem;
}
@media (max-width: 767px) {
  .cid-rLpUcyva27 .mbr-slider .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-rLpUcyva27 .mbr-slider .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 1.5rem !important;
}
.cid-rLpUcyva27 .mbr-slider .carousel-indicators li {
  max-width: 20px;
  width: 20px;
  height: 20px;
  max-height: 20px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: .5;
  transition: all .3s;
}
.cid-rLpUcyva27 .mbr-slider .carousel-indicators li.active,
.cid-rLpUcyva27 .mbr-slider .carousel-indicators li:hover {
  opacity: .9;
}
.cid-rLpUcyva27 .mbr-slider .carousel-indicators li::after,
.cid-rLpUcyva27 .mbr-slider .carousel-indicators li::before {
  content: none;
}
.cid-rLpUcyva27 .mbr-slider .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 576px) {
  .cid-rLpUcyva27 .mbr-slider .carousel-indicators {
    display: none !important;
  }
}
.cid-rLpUcyva27 .mbr-slider > .container img {
  width: 100%;
}
.cid-rLpUcyva27 .mbr-slider > .container img + .row {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  z-index: 2;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.cid-rLpUcyva27 .mbr-slider > .container .carousel-indicators {
  margin-bottom: 3px;
}
@media (max-width: 576px) {
  .cid-rLpUcyva27 .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-rLpUcyva27 .mbr-slider .mbr-section {
  padding: 0;
  background-attachment: scroll;
}
.cid-rLpUcyva27 .mbr-slider .mbr-table-cell {
  padding: 0;
}
.cid-rLpUcyva27 .carousel-item .container.container-slide {
  position: initial;
  width: auto;
  min-height: 0;
}
.cid-rLpUcyva27 .full-screen .slider-fullscreen-image {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.cid-rLpUcyva27 .full-screen .slider-fullscreen-image.active {
  display: -o-flex;
}
.cid-rLpUcyva27 .full-screen .container {
  width: auto;
  padding-right: 0;
  padding-left: 0;
}
.cid-rLpUcyva27 .full-screen .carousel-item .container.container-slide {
  width: 100%;
  min-height: 100vh;
  padding: 0;
}
.cid-rLpUcyva27 .full-screen .carousel-item .container.container-slide img {
  display: none;
}
.cid-rLpUcyva27 .mbr-background-video-preview {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.cid-rLpUcyva27 .mbr-overlay ~ .container-slide {
  z-index: auto;
}
.cid-rLpUcyva27 H2 {
  color: #ffc900;
}
.cid-rLpUcyva27 P {
  color: #ffc900;
}
.cid-rLrmPhJVEQ {
  padding-top: 45px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-rLrmPhJVEQ .title {
  margin-bottom: 2rem;
}
.cid-rLrmPhJVEQ .mbr-section-subtitle {
  color: #767676;
}
.cid-rLrmPhJVEQ a:not([href]):not([tabindex]) {
  color: #fff;
  border-radius: 3px;
}
.cid-rLrmPhJVEQ a.btn-white:not([href]):not([tabindex]) {
  color: #333;
}
.cid-rLrmPhJVEQ .multi-horizontal {
  flex-grow: 1;
  -webkit-flex-grow: 1;
  max-width: 100%;
}
.cid-rLrmPhJVEQ .input-group-btn {
  display: block;
  text-align: center;
}
.cid-rLrmPhJVEQ H2 {
  color: #232323;
}
.cid-rLvHWM8y42 {
  padding-top: 165px;
  padding-bottom: 75px;
  background-color: #232323;
  position: relative;
  overflow: hidden;
}
.cid-rLvHWM8y42 .container {
  max-width: 1400px;
}
.cid-rLvHWM8y42 .card-img2 span {
  padding-top: 6px;
}
.cid-rLvHWM8y42 .soc-item a {
  padding-top: 5px;
}
.cid-rLvHWM8y42 .btn {
  padding: 0.4rem 0.6rem!important;
  margin: 0.5rem!important;
  border-radius: 10px!important;
  letter-spacing: 0px;
}
.cid-rLvHWM8y42 .btn .mbr-iconfont {
  margin-top: 0.1rem;
}
.cid-rLvHWM8y42 .btn .mbr-iconfont.socicon {
  margin-right: 0.8rem !important;
  order: 0;
}
@media (max-width: 992px) {
  .cid-rLvHWM8y42 .content > div:not(:last-child) {
    margin-bottom: 2rem;
  }
}
.cid-rLvHWM8y42 svg {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translate(-50%) scale(2, 1.6) rotate(180deg);
}
.cid-rLvHWM8y42 #e2_shape {
  fill: #ffffff !important;
}
.cid-rLvHWM8y42 .quote {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 1rem;
  position: relative;
  margin-bottom: 1.8rem;
  color: #ffffff;
}
.cid-rLvHWM8y42 .quote::after {
  top: 100%;
  left: 36px;
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 20px 0 0;
  border-color: rgba(0, 0, 0, 0.1) transparent transparent;
}
.cid-rLvHWM8y42 .card-img2 {
  min-width: 45px;
  height: 45px;
  background: #ffffff;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-rLvHWM8y42 .card-img {
  width: auto;
}
.cid-rLvHWM8y42 .soc-item {
  width: 45px;
  height: 45px;
  background: #232323;
  margin-bottom: 1rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}
.cid-rLvHWM8y42 .soc-item span {
  font-size: 1.4rem;
}
.cid-rLvHWM8y42 .soc-item:hover span {
  color: #ff8a73 !important;
}
.cid-rLvHWM8y42 .item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.cid-rLvHWM8y42 .item h4 {
  padding-left: 10px;
  margin: 0;
}
.cid-rLvHWM8y42 .media-wrap {
  margin-bottom: 1rem;
}
.cid-rLvHWM8y42 .mbr-iconfont-logo {
  font-size: 7.5rem;
  color: #f36;
}
.cid-rLvHWM8y42 img {
  height: 4rem;
}
@media (max-width: 576px) {
  .cid-rLvHWM8y42 .item {
    justify-content: center;
  }
  .cid-rLvHWM8y42 .quote::after {
    left: 60px;
  }
}
.cid-rLvHWM8y42 .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 576px) {
  .cid-rLvHWM8y42 .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-rLvHWM8y42 .text1 {
  color: #ffffff;
}
.cid-rLvHWM8y42 .item-title {
  color: #ffffff;
}
.cid-rLvHWM8y42 H5 {
  color: #ffc500;
}
.cid-rLvHWM8y42 .theme {
  color: #ffc500;
}
.cid-rLvHWM8y42 .copyright > p {
  color: #ff3366;
}
.cid-rLvHWM8y42 .text2 {
  color: #ffffff;
}
.cid-rLpsgXbTep .dropdown-item:before {
  content: '';
  position: absolute;
  left: 16px;
  top: 52%;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  opacity: 0;
  background-color: #5580ff;
  transform: translateY(-50%);
  transition: all 0.3s;
}
.cid-rLpsgXbTep .dropdown-item:hover:before {
  opacity: 1!important;
}
.cid-rLpsgXbTep .nav-item:focus,
.cid-rLpsgXbTep .nav-link:focus {
  outline: none;
}
.cid-rLpsgXbTep .text-white:hover,
.cid-rLpsgXbTep .text-white:active,
.cid-rLpsgXbTep .text-white:focus {
  color: white!important;
}
.cid-rLpsgXbTep .navbar {
  max-width: 1000px;
  margin: auto;
  margin-top: -10px;
  opacity: 0.9;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  min-height: 77px;
  transition: all .3s;
  background: #ffffff;
}
.cid-rLpsgXbTep .navbar:hover {
  opacity: 1;
  margin-top: 0;
}
.cid-rLpsgXbTep .navbar.opened {
  transition: all .3s;
  background: #ffffff !important;
}
.cid-rLpsgXbTep .navbar .dropdown-item {
  padding: .235rem 1.5rem;
}
.cid-rLpsgXbTep .navbar .navbar-collapse {
  justify-content: center;
  z-index: 1;
}
.cid-rLpsgXbTep .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-rLpsgXbTep .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-rLpsgXbTep .navbar.collapsed .dropdown-menu {
  background: transparent !important;
}
.cid-rLpsgXbTep .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-rLpsgXbTep .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-rLpsgXbTep .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: .25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-rLpsgXbTep .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-rLpsgXbTep .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-rLpsgXbTep .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-rLpsgXbTep .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-rLpsgXbTep .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-rLpsgXbTep .navbar .dropdown-menu {
    background: transparent !important;
  }
  .cid-rLpsgXbTep .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-rLpsgXbTep .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-rLpsgXbTep .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: .25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-rLpsgXbTep .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-rLpsgXbTep .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-rLpsgXbTep .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
  }
  .cid-rLpsgXbTep .navbar .navbar-brand {
    -webkit-flex-shrink: initial;
    flex-shrink: initial;
    -webkit-flex-basis: auto;
    flex-basis: auto;
    word-break: break-word;
  }
  .cid-rLpsgXbTep .navbar .navbar-toggler {
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
  .cid-rLpsgXbTep .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-rLpsgXbTep .navbar.navbar-short {
  background: #ffffff !important;
  min-height: 60px;
}
.cid-rLpsgXbTep .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-rLpsgXbTep .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-rLpsgXbTep .section {
  position: relative;
  overflow: visible!important;
}
.cid-rLpsgXbTep .dropdown-item {
  font-weight: 400!important;
  color: black!important;
}
.cid-rLpsgXbTep .dropdown-item:hover {
  color: black!important;
}
.cid-rLpsgXbTep .dropdown-menu {
  background-color: white!important;
}
.cid-rLpsgXbTep .navbar .dropdown.open > .dropdown-menu {
  border-radius: 10px;
  box-shadow: 0 10px 55px 5px rgba(137, 173, 255, 0.35);
  display: block;
}
.cid-rLpsgXbTep .nav-link:before {
  content: '';
  position: absolute;
  left: 10px;
  top: 52%;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  opacity: 0;
  background-color: #5580ff;
  transform: translateY(-50%);
  transition: all 0.3s;
}
.cid-rLpsgXbTep .nav-item:hover .nav-link:before {
  opacity: 1!important;
}
@media (min-width: 992px) {
  .cid-rLpsgXbTep .nav-item .nav-link {
    position: relative;
  }
}
.cid-rLpsgXbTep .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rLpsgXbTep .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-rLpsgXbTep .dropdown .dropdown-menu .dropdown-item:hover {
  padding-left: 2rem;
}
.cid-rLpsgXbTep .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-rLpsgXbTep .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rLpsgXbTep .collapsed {
  flex-direction: row!important;
}
.cid-rLpsgXbTep .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-rLpsgXbTep .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-rLpsgXbTep .navbar-caption {
  font-weight: 600!important;
}
.cid-rLpsgXbTep .navbar-brand {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-rLpsgXbTep .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-rLpsgXbTep .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-rLpsgXbTep .dropdown-item.active,
.cid-rLpsgXbTep .dropdown-item:active {
  background-color: transparent;
}
.cid-rLpsgXbTep .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-rLpsgXbTep .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-rLpsgXbTep .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-rLpsgXbTep .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-rLpsgXbTep .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-rLpsgXbTep ul.navbar-nav {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-rLpsgXbTep .navbar-buttons {
  text-align: center;
}
.cid-rLpsgXbTep button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  -webkit-align-self: center;
  align-self: center;
}
.cid-rLpsgXbTep button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffc500;
}
.cid-rLpsgXbTep button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-rLpsgXbTep button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-rLpsgXbTep button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-rLpsgXbTep button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-rLpsgXbTep nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rLpsgXbTep nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-rLpsgXbTep nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-rLpsgXbTep nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rLpsgXbTep .navbar-dropdown {
  position: absolute;
  top: 0;
  left: 0;
  padding: .5rem 1rem;
  position: fixed;
}
.cid-rLpsgXbTep .nav-link {
  font-weight: 600!important;
}
.cid-rLpsgXbTep a.nav-link {
  -webkit-justify-content: center;
  justify-content: center;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rLpsgXbTep .mbr-iconfont {
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-rLpsgXbTep .icons-menu {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  padding-left: 1rem;
  text-align: center;
}
.cid-rLpsgXbTep .icons-menu span {
  font-size: 26px;
  color: #232323;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-rLpsgXbTep .navbar {
    height: 77px;
  }
  .cid-rLpsgXbTep .navbar.opened {
    height: auto;
  }
  .cid-rLpsgXbTep .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-rQadcf5Fbk {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rQadcf5Fbk .card-box {
  background-color: #ffffff;
  padding: 4rem 2rem;
}
.cid-rQadcf5Fbk h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-rQadcf5Fbk p {
  color: #767676;
  text-align: left;
}
.cid-rQadcf5Fbk .card-wrapper {
  border: 1px solid #ffffff;
  position: relative;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-rQadcf5Fbk .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
}
.cid-rQadcf5Fbk .card-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}
.cid-rQadcf5Fbk h3 {
  position: relative;
  margin-top: 2rem;
  letter-spacing: 2px;
}
.cid-rQadcf5Fbk h3:after {
  content: "";
  color: #333;
  transition: all 0.3s;
  width: 30px;
  position: absolute;
  top: 50%;
  height: 1px;
  background-color: #ffffff;
  margin-left: 10px;
}
.cid-rQadcf5Fbk h3:hover:after {
  margin-left: -15px;
}
.cid-rQadcf5Fbk P {
  text-align: center;
}
.cid-rQadcf5Fbk .card-title {
  text-align: center;
}
.cid-rQadcf5Fbk H3 {
  text-align: center;
}
.cid-rQadcf5Fbk .number {
  text-align: center;
}
.cid-rQadcf5Fbk H1 {
  text-align: center;
}
#custom-html-h {
  /* Type valid CSS here */
}
#custom-html-h div {
  padding: 80px 0;
  color: #777;
  text-align: center;
}
#custom-html-h p {
  font-size: 60px;
  color: #777;
}
