@font-face {
   font-family: 'VT323';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/Users/kdnol/Documents/GitHub/kdnolan.github.io/fonts/VT323/regular.ttf') format('truetype');
}
