@font-face {
   font-family: 'Antic Slab';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/Users/kdnolan/Resilio%20Sync/GitHub/kdnolan.github.io/kdnolan.github.io/fonts/Antic Slab/regular.ttf') format('truetype');
}
